body{
    margin: 0;
    color: #fff;
    background: #202731;

}

section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
}

.blue{
    background-color: #3c31dd;
}
.red{
    background-color: #dd3f31;
}
.pink{
    background-color: #ff0066;
}
.dark{
    background-color: #0f0f10;
}


.curve{
    position: absolute;
    height: 225px;
    width: 100%;
    bottom: 0;
}

.curve::before{
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: #202731;
    transform: translate(85%, 60%);
}
.curve::after{
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: #3c31dd;
    transform: translate(-4%,40%);
    z-index: -1;
}

.bubble::after{
    content: '';
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    position: absolute;
    bottom: 0;
    height: 85%;
    width: 100%;
        background-color: #202731;
        /* transform: translate(-4%, 40%); */
        z-index: -1;
        
}

.custom-shape-divider-bottom-1686439584 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1686439584 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 157px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1686439584 .shape-fill {
    fill: #FFFFFF;
}

.spacer{
    aspect-ratio: 900/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer{
    background-image: url('./layered.svg');
}